# config and cache files
__pycache__/
.ipynb_checkpoints/
ipython_config.py
.pytest_cache/
.ruff_cache/
.env
# uv
.venv/
uv.lock

# logs and merge tool orig files
*.orig
*.log
logs/

# store trained models and models configs
*.pkl
