# config and cache files
.vscode
__pycache__/
.gitattributes
.ipynb_checkpoints/
ipython_config.py
.python-version
.pytest_cache/
.ruff_cache/
*.egg-info/
.env

# uv
.venv/
uv.lock

# logs and merge tool orig files
*.orig
*.log
logs/


# postgres vectorDB
pgai/

# store (pre-)trained models and models configs
huggingface_mirror/
docling_artifacts/
spacy_model_pipeline
